<h3>Song Form</h3>

<%= form_for(@song) do |f| %>
<label>Song name:</label><br>
<%= f.text_field :name %>

<label>Artist id:</label><br>
<%= f.text_field :name %>

<label>Genre id:</label><br>
<%= f.text_field :name %>

<%= f.submit %>
<% end %>